@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.search-dashboard input {
  text-align: center;
}

.ant-progress-inner {
  background-color: white;
}

.ant-btn-background-ghost {
  color: black;
  border-width: 0px;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.015);
}

.ant-comment-inner {
  padding: 0;
}

.ant-layout-content {
  background-color: whitesmoke;
}
