@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.search-dashboard input {
  text-align: center;
}

.ant-progress-inner {
  background-color: white;
}

.ant-btn-background-ghost {
  color: black;
  border-width: 0px;
}

.ant-comment-inner {
  padding: 0;
}
